body {
    align-content: center;
    background-image: url('jit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 200px;
    color: white;
}

.person {
    padding: 10px;
    border: 20px;
    color: white;
    padding-top: 2%;
    margin: 2%;
}